<table border="1">
<tr>
	<th>Table</th>
	<th>Guest</th>
	<th>Time</th>
	<th>Book By</th>
</tr>

<% @reservations.each do |reservations| %>

<tr>
	<td><%= reservations.table %></td>
	<td><%= reservations.guest %></td>
	<td><%= reservations.time %></td>
	<td><%= reservations.name %></td>
</tr>

<% end %>
	
</table>>